.container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  gap: 40px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
a {
  text-decoration: none;
}
@media (max-width: 768px) {
  .container {
    padding: 10px;
    gap: 0;
  }
}
